* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
/* nav bar */
.nav-bar{
    display: flex;
    width: 100%;
    background-color: #0084FD;
}
.nav-bar img{
    width: 70%;
    padding: 0.7rem;
}
.fa-bars{
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: white;
    align-items: center;
}

/* common */
.container{
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
}

.card{
    margin: 1rem auto;
    border-radius: 30px;
    width: 100%;
}

h4{
    margin-bottom: 1rem;
    color:#0084FD ;
}

strong{
    color: #5A6E7F;
    font-size: 13px;
    margin-bottom: 1rem;
}
.demo{
    display: flex;
    flex-wrap: wrap;
}
button{
    border-radius: 30px;
    border-style:none;
    background-color: #0084FD;
    padding: 0.5rem;
    width: 10rem;
    color: white;
    margin-bottom: 1rem;
    height: 2rem;
   
}

/* card prima sezione */
/* big card */
.big{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0 1rem;
    background-color: #B5DDFF;
    
}

.phone{
    width: 100%;
   
}


/* little card */
.little{
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #B5DDFF;
    align-items: center;
}
.fa-solid{
    color:#0084FD;
    font-size: 45px;
    padding: 1rem;
    
}
/* due colonne */

.first h3{
    font-size: 30px;
    text-align: start;
}

.first img{
    padding-top: 2rem;
    width: 100%;
}

.first{
    color: white;
}

.first p{
    padding: 2rem 0;
}

.due-col{
   background-color: #9792E4;
   padding:1rem;
   
}

.second{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: white;
  border-radius: 30px;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  align-items: center;
  
}

.second img{
    width: 100%;
    padding-bottom: 2rem;
}

.fa-arrow-down{
    color: black;
    font-size: 20px;
}

.button{
    margin-top:1rem ;
    display: flex;
    justify-content: center;
    padding-bottom: 0.7rem;
    border-radius:50% ;
    width:50px;
    height: 50px;
    background-color: #9792E4;
}

/* testimonial */
.testimonial{
    padding: 1rem;
    text-align: center;
}
h6{
    padding: 2rem;
}
h2{
    color: #9792E4;
}

.testimonial p{
    padding: 1rem 0;
    
}
.card-testimonial{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    border-radius: 30px;
    background-color: #9792E4;
    color: white;
    align-items: center
}
.img-testimonial{
    
    border-radius:50% ;
    width:150px;
    height: 150px;
    
}
.card-testimonial img{
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
    height: 150px;
}
/* benefits */
.benefits{
    padding: 1rem;
    background-color: #9792E4;
    width: 100%;
}
.laptop-cont{
    
    width: 100%;
}
.name{
    color: white;
    text-align: center;
    margin: 1rem;
    width: 100%;
}
.card-benefits{
    padding: 1rem;
    margin: 1rem auto;
    background-color: white;
    border-radius: 10px;
    width: 90%;
    color: #9792E4;
}

.card-benefits strong{
    color: #9792E4;
}

.card-benefits p{
    color: #5A6E7F;
    padding: 1rem 0;
}

.card-benefits h2 {
    padding: 1rem 0;
}

.card-benefits button{
    width: 50%;
    background-color: #9792E4;
}
/* about us */
.about-us{
    padding: 0 1rem;
    margin: 1rem auto;
}
.about-us h1{
    color: #9792E4;
    padding:1rem 0;
}

.about-us p{
    line-height: 1.5rem;
    padding: 1rem 0;
}
.cit-img{
    padding-left: 1rem;
    position: relative;
}
.fa-quote-left{
    position: absolute;
    top: 0;
    left: 40%;
    color: #9792E4;
}

.cit-img img{
    margin-left:1rem;
    margin-bottom: 1rem;
}

.cit-img strong{
    display: block;
    font-size: 20px;
    padding-right: 2rem;
    color: #9792E4;
}

.cit-img button{
    width: 60%;
 background-color: #9792E4;
 ma
}
/* get started */
.get-started{
    padding: 1rem;
    background-color: #9792E4;
    text-align: center;
    line-height: 1.5rem;
}
.get-started h1{
    color: orange;
    padding-bottom: 1rem;
}
.get-started a{
    color: #5A6E7F;
}

.get-started p{
    color: white;
}
.get-started button{
    margin: 1rem;
    background-color: white;
    color: #9792E4;
    width: 70%;
    padding: 1rem;
}
.get-started h4{
    color: white;
    font-size: 20px;
    padding: 1rem;
}
.copy {
    color: white;
    font-size: 10px;
}

/* footer */
.footer{
    background-color:#333333;
    color: white;
}

.footer p{
    text-align: center;
    font-size: 10px;
    padding: 2rem;
}

.footer a {
    color: #9792E4;
}

/* media query */

/* tablet */

/* jumbo e card */
@media screen and (min-width:765px){
.jumbotron{
    display: flex;   
    width:100%;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
} 
}
    
@media screen and (min-width:765px) {
    .big {
        width: 65%;
        display: flex;
        flex-wrap: wrap
        
    };
}

@media screen and ( min-width:765px) {
    .little{
        width:33%;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 765px){
   .big img{
    width:60%; 
    }
}
/* testimonial */

@media screen and (min-width: 765px){
    .card-testimonial{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    }
 }
 @media screen and (min-width: 765px){
    .name{
    display: block;
    width: 100%;
    }
 }
 
 /* working with us */
@media screen and (min-width:765px) {
    .benefits{
        justify-content: center; 
        display: flex;  
        flex-wrap: wrap;
    }
}
/*  benefits */
@media screen and (min-width:765px){
    .card-benefits{
       
        width: 45%;
    }
    
}

@media screen and (min-width:480px){
    .info{
        display: flex;
        width: calc(100 / 2 );

    }
}

/* laptop 1024px */

@media screen and (min-width:1024px){
    .jumbotron{
        display: flex;   
        width:75%;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem;
    } 
    }

    @media screen and (min-width:1024px) {
        .big {
            display: flex;
            flex-direction: row
            };
        }


@media screen and (min-width:1024px) {
    .demo {
        width: 55%;
        };
    }
    
    @media screen and (min-width:1024px) {
        .phone {
            width: 45%;
            };
        }    

@media screen and (min-width:1024px) {
    .phone img {
        width: 100%;
    };
}     

/* due colonne  */
@media screen and (min-width:1024px) {
    .laptop {
        display: flex;
        width: 70%;
    };
}  


@media screen and (min-width:1024px) {
    .first {
        width: 50%;
       margin-right: 3rem
    };
}    

@media screen and (min-width:1024px) {
    .second {
        width: 50%;
      
    };
}   

@media screen and (min-width:1024px) {
    .testimonial {
        width: 70%;
      
    };
}   

@media screen and (min-width:1024px) {
    .card-benefits {
      width: 33%;
      };
}  

@media screen and (min-width:1024px) {
    .info{
        width: 70%;
    }
    
}